Repository 120090162/DPRM-2026: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#     请注意，不要随便更新
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        args: ["--language=c++"]
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # - repo: local
  #   hooks:
  #     - id: ament_cpplint
  #       name: ament_cpplint
  #       description: Static code analysis of C/C++ files.
  #       entry: ament_cpplint
  #       language: system
  #       files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  #       args: ["--linelength=100", "--filter=-whitespace/newline"]

  # - repo: https://github.com/cpp-linter/cpp-linter-hooks
  #   rev: v0.2.1
  #   hooks:
  #     - id: clang-format
  #       args: [--style=file, --verbose] # to load .clang-format
      # - id: clang-tidy
      #   args: [-p=./build/compile_commands.json, --checks=.clang-tidy] # path/to/.clang-tidy

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  # - repo: https://github.com/codespell-project/codespell
  #   rev: v2.4.1
  #   hooks:
  #     - id: codespell
  #       args: ['--write-changes']
  #       exclude: CHANGELOG\.rst|\.(svg|pyc)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

提高编译速度
  .gitignore
  CMakeLists.txt
  log.txt
Due: ament_lint_cmake

完成tenssortt包移植，完成version 0.0.1
  .gitignore
  README.md
  demo/CMakeLists.txt
  demo/tensorrt_demo.cpp
  demo/uvc_cam.cpp
  demo/uvc_lib.cpp
  include/tensorrt/tensorrt.h
  src/tensorrt/CMakeLists.txt
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck, ament_lint_cmake

更新学习笔记
  README.md
Due: none

更新win和linux下换行符不一样导致的问题
  .gitattributes
Due: none

?
  include/video/daheng/DxImageProc.h
  include/video/daheng/GxIAPI.h
  include/video/hik/CameraParams.h
  include/video/hik/MvCameraControl.h
  include/video/hik/MvErrorDefine.h
  include/video/hik/MvISPErrorDefine.h
  include/video/hik/PixelType.h
Due: ament_cppcheck

init
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

update model details
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

修改cmakelist
  demo/CMakeLists.txt
Due: ament_lint_cmake

fix config
  demo/CMakeLists.txt
Due: ament_lint_cmake

fix bud
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

fix bug
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

fix
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

update
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

修改模型标注
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

test
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

添加传参功能
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

重写注释
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

test
  demo/verify_engine.py
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

fix
  demo/verify_engine.py
Due: none

what to fix
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

去除命名空间
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

del test
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

修改推理的引用方式
  demo/yoloDetectDemo.cpp
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck

fix:rename detectEnqueue
  demo/yoloDetectDemo.cpp
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck

fix: 改头文件
  include/tensorrt/tensorrt.h
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck
