Repository 120090162/DPRM-2026: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#     请注意，不要随便更新
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        args: ["--language=c++"]
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # - repo: local
  #   hooks:
  #     - id: ament_cpplint
  #       name: ament_cpplint
  #       description: Static code analysis of C/C++ files.
  #       entry: ament_cpplint
  #       language: system
  #       files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  #       args: ["--linelength=100", "--filter=-whitespace/newline"]

  # - repo: https://github.com/cpp-linter/cpp-linter-hooks
  #   rev: v0.2.1
  #   hooks:
  #     - id: clang-format
  #       args: [--style=file, --verbose] # to load .clang-format
      # - id: clang-tidy
      #   args: [-p=./build/compile_commands.json, --checks=.clang-tidy] # path/to/.clang-tidy

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  # - repo: https://github.com/codespell-project/codespell
  #   rev: v2.4.1
  #   hooks:
  #     - id: codespell
  #       args: ['--write-changes']
  #       exclude: CHANGELOG\.rst|\.(svg|pyc)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

fix: 调了一下tensorrt的实现
  demo/tensorrt_demo.cpp
  demo/uvc_lib.cpp
  include/tensorrt/tensorrt.h
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck

原来不能这样全注释掉
  demo/tensorrt_demo.cpp
  demo/uvc_lib.cpp
Due: ament_cppcheck

fix:改回去用destroy
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck

test 加入print输出模型结构
  demo/yoloDetectDemo.cpp
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck

add new file; change C standard
  demo/CMakeLists.txt
  demo/yolov5Tensorrt.cpp
  demo/信息收集.md
Due: ament_cppcheck, ament_lint_cmake

change cmakelist
  demo/CMakeLists.txt
Due: ament_lint_cmake

fix 删除了不必要的错误调试
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck

fix destroy to delete
  src/tensorrt/tensorrt.cpp
Due: ament_cppcheck

fix typo in Cmakelist
  demo/CMakeLists.txt
Due: ament_lint_cmake

修改cmakelist中的yolov5 tensorrt包位置
  demo/CMakeLists.txt
Due: ament_lint_cmake

fix
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

显示链接cudart
  demo/CMakeLists.txt
Due: ament_lint_cmake

显式链接tensorrt库
  demo/CMakeLists.txt
Due: ament_lint_cmake

test
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

debug
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

使用hik相机
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

用hik相机
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

fix scope
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

添加阈值参数
  demo/yoloDetectDemo.cpp
Due: ament_cppcheck

改错了，添加阈值参数
  demo/yoloDetectDemo.cpp
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

添加帧率显示
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

重写注释
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

改名
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

添加保存功能
  demo/hik_lib.cpp
Due: ament_cppcheck

fix
  demo/hik_lib.cpp
Due: ament_cppcheck

多线程录像
  demo/hik_lib.cpp
Due: ament_cppcheck

完成docker环境的测试
  README.md
  docker/Dockerfile
  docker/README.md
  docker/build_linux.sh
  docker/run_linux.sh
  include/video/daheng/DxImageProc.h
  include/video/daheng/GxIAPI.h
  include/video/hik/CameraParams.h
  include/video/hik/MvCameraControl.h
  include/video/hik/MvErrorDefine.h
  include/video/hik/MvISPErrorDefine.h
  include/video/hik/PixelType.h
Due: ament_cppcheck

完成docker里的编译测试
  README.md
  demo/CMakeLists.txt
  demo/tensorrt_demo.cpp
  demo/test/CMakeLists.txt
  demo/test/test.mp4
Due: ament_cppcheck, ament_lint_cmake

添加yolov5_tensorrt库
  include/yolov5_tensorrt/yolov5_builder.hpp
  include/yolov5_tensorrt/yolov5_common.hpp
  include/yolov5_tensorrt/yolov5_detection.hpp
  include/yolov5_tensorrt/yolov5_detector.hpp
  include/yolov5_tensorrt/yolov5_detector_internal.hpp
  include/yolov5_tensorrt/yolov5_logging.hpp
  src/yolov5_tensorrt/CMakeLists.txt
  src/yolov5_tensorrt/yolov5_builder.cpp
  src/yolov5_tensorrt/yolov5_common.cpp
  src/yolov5_tensorrt/yolov5_detection.cpp
  src/yolov5_tensorrt/yolov5_detector.cpp
  src/yolov5_tensorrt/yolov5_detector_internal.cpp
  src/yolov5_tensorrt/yolov5_logging.cpp
Due: ament_cppcheck, ament_lint_cmake

修改引用头和cmakelist
  CMakeLists.txt
  demo/CMakeLists.txt
  demo/yolov5Tensorrt.cpp
  include/dprm.h
  src/yolov5_tensorrt/CMakeLists.txt
Due: ament_cppcheck, ament_lint_cmake

fix 命名空间问题
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

fix移动函数到文件末尾
  demo/yolov5Tensorrt.cpp
Due: ament_cppcheck

fix 修改编译器标准
  demo/CMakeLists.txt
Due: ament_lint_cmake

修改导包
  demo/yolov5Tensorrt.cpp
  src/yolov5_tensorrt/CMakeLists.txt
Due: ament_cppcheck, ament_lint_cmake
